<!-- Login into the app page. /login -->
<div class="login-page header-overlay" style="text-align:center; padding-top:40px">
  <h1 class="md-display-3" style="font-family: 'Rubik'; color: white;">Login Page</h1>
  <!-- Content that contains KclConnect logo, input field for email and password and login button -->
  <div class="auth-content">
    <!-- Set the content central -->
    <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4" style="margin-left: 35%">
      <form role="form" ng-submit="authCtrl.login()">
        <!-- Input field for admin mail -->
        <div class="form-content">
          <md-input-container class="data-input md-block" flex-gt-sm>
            <label style="color: white;">Email</label>
            <input required type="email" ng-model="authCtrl.user.email">
            <div ng-messages="projectForm.clientName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <!-- Input field for admin password -->
          <md-input-container class="data-input md-block" flex-gt-sm>
            <label style="color: white;">Password</label>
            <input required type="password" ng-model="authCtrl.user.password">
            <div ng-messages="projectForm.clientName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </div>
        <!-- Login button -->
        <div class="send-button">
          <md-button type="submit" class="md-raised">Log In</md-button>
        </div>
      </form>
    </div>
  </div>
</div>
