<!-- Dialog that contains details about an announcement -->
<md-dialog aria-label="Mango (Fruit)" class="opened-dialog">
  <form ng-cloak>
    <!-- Set the header of the dialog -->
    <md-toolbar>
      <div class="md-toolbar-tools" flex>
        <!-- Set the title as the header of the dialog -->
        <h1>{{ message.title }}</h1>
        <!-- If announcement is important add 'IMPORTANT' label -->
        <h3 ng-if="message.important === true" layout="column" layout-align="center end" flex> IMPORTANT </h3>
      </div>
    </md-toolbar>
    <!-- Set the announcement description as the body of the dialog -->
    <md-dialog-content>
      <div class="dialog md-dialog-content" ng-controller="DialogCtrl">
        <p>{{ message.body }}</p>
      </div>
    </md-dialog-content>
    <!-- Delete the opened announcement button -->
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer(true)"> Delete </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>