<!-- Base page for combining main funtionality of the platform. /groups -->
<div class="main" layout="column" ng-cloak>
  <section layout="column" flex>
    <md-content class="welcome" layout="row" layout-align="center center">
      <h1 class="md-toolbar-tools"><a class="logo-title" ui-sref="groups"
        ng-click="groupsCtrl.home">Brainiac Logo</a></h1>
      <div class="my-info">
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title class="my-info-card" layout="row" layout-align="center center">
          <md-card-title-text layout-align="center center">
            <span class="md-headline" ng-class="{online: groupsCtrl.profile.online}">{{ groupsCtrl.profile.displayName }}</span>
            <md-card-actions layout="row" layout-align="center center" flex>
              <md-button ui-sref="profile" class="md-small md-primary"> Edit Profile</md-button>
              <md-button href="#" ng-click="groupsCtrl.logout()" class="md-small md-primary">Logout</md-button>
            </md-card-actions>
          </md-card-title-text>
        </md-card-title>
      </md-card>
      </div>
    </md-content>

  
  </section>
</div>
