<!-- Send and display announcements for a specific group -->
<div class="messages-wrap" layout="column">
  <!-- Ser the title as the header -->
  <div class="header">
    <h1>{{ messagesCtrl.groupName }}</h1>
  </div>
  <!-- Dispaly all the announcement for the selected group -->
  <md-content class="announcements-list">
    <md-list flex>
      <md-list-item ng-repeat="message in messagesCtrl.messages" layout-gt-sm="row" ng-controller="DialogCtrl" ng-init="changeTheme(message)">
        <i class="material-icons">person_outline</i>
        <div class="message-info" flex="20%">
          <div class="message" layout-gt-sm="column">
            <!-- Display the title of the announcemnt-->
            <div layout-gt-sm="row">
              <h2> {{ message.title }} </h2>
            </div>
            <!-- Attach author and timestamp -->
            <div layout-gt-sm="row">
              <div class="user-name"> Posted by {{ message.author }} on <span class="timestamp">{{ message.timestamp | date:'short' }}</span></div>
            </div>
          </div>
        </div>
        <!-- Open announcemnt dialog button -->
        <div class="container" ng-cloak md-theme="{{ theme }}" style="text-align: right" flex="10%">
          <md-button class="md-primary md-raised" ng-click="showAdvanced($event, message, messagesCtrl.messages)">Open Announcement</md-button>
        </div>
      </md-list-item>
    </md-list>
  </md-content>
  <!-- Announcement form -->
  <form class="announcementForm" ng-submit="messagesCtrl.sendMessage()" name="announcementForm">
    <div class="md-inline-form" md-theme="default" layout-padding>
      <!-- Input field for title of the announcement -->
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Title</label>
          <input name="title" required ng-model="messagesCtrl.title">
          <div ng-messages="announcementForm.title.$error">
            <div ng-message="required">This field is required</div>
          </div>
        </md-input-container>
        <!-- Toggle button to set if an announcement is important or not -->
        <md-switch ng-model="data" aria-label="Switch" ng-change="messagesCtrl.onChange(data)" class="md-block md-warn" layout-align="end center" flex-gt-sm>
          Is this announcement important?
        </md-switch>
      </div>
      <!-- Input field for description of the announcement -->
      <div layout-gt-sm="column">
        <md-input-container class="announcement md-block" flex-gt-sm>
          <label>Announcement's description</label>
          <textarea name="description" ng-model="messagesCtrl.message" rows="7" md-no-resize md-no-autogrow md-select-on-focus required></textarea>
          <div ng-messages="announcementForm.description.$error">
            <div ng-message="required">This field is required</div>
          </div>
        </md-input-container>
        <!-- Send button -->
        <md-content layout="row" layout-align="end center" style="background-color: white">
          <md-button type="submit" ng-disabled="announcementForm.$invalid" class="md-raised md-primary md-block">Send</md-button>
        </md-content>
      </div>
    </div>
  </form>
</div>