<div layout="column" ng-cloak class="md-inline-form">

 <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
   <div>
     <h1>New Question Submission Form</h1>
   </div>
 </md-content>

 <md-content layout-padding>
   <div>
     <form ng-submit="dashboardCtrl.createEntry()" name="form">

       <md-input-container md-no-float class="md-block">
         <label>Question</label>
         <input ng-model="dashboardCtrl.newQuestion.question">
       </md-input-container>

       <md-input-container class="md-block">
         <label>Answer</label>
         <input ng-model="dashboardCtrl.newQuestion.answer" >
       </md-input-container>

       <md-input-container class="md-block">
         <label>Tags</label>
         <input ng-model="dashboardCtrl.newQuestion.tags" >
       </md-input-container>

        <md-button type="submit" class="md-raised md-primary">Create</md-button>
       </div>
   </div>
   </form>
 </md-content>

</div>
